



<div class="all">
  <div class="principal">
      
      <div class="button-container">
        <button class="button">Productos Activos</button>
        <button class="button">Productos Inactivos</button>
        <button class="button">Productos Descontinuados</button>
        <button class="button">Productos Suspendidos</button>
        <button class="button">Pendientes por información</button>
        <button class="button">PRODUCTOS NUEVOS!</button>
      </div>
  
      <div class="Contenedor_todos_Acordeones">
      
        <div class="el_acordeon">
          <div class="text_btn"> <p class="titulo-acordeon">AREPA DE HUEVO MINI 240 G-CJ12</p>   <button class="btn_desplegar" (click)="desplegar('1')">+</button></div>
        </div>
        
        <div id="Contenido_Acordeón1"class="id-product"> 
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
        </div>
      
        <div class="el_acordeon">
          <div class="text_btn"> <p class="titulo-acordeon">AREPA DE HUEVO MINI 240 G-CJ12</p>   <button class="btn_desplegar" (click)="desplegar('2')">+</button></div>
        </div>
        <div id="Contenido_Acordeón2"class="id-product"> 
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
        
        </div>
      
        <div class="el_acordeon">
          <div class="text_btn"> <p class="titulo-acordeon">AREPA DE HUEVO MINI 240 G-CJ12</p>   <button class="btn_desplegar" (click)="desplegar('3')">+</button></div>
        </div>
        
        <div id="Contenido_Acordeón3"class="id-product"> 
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
        
        </div>
      

        <div class="el_acordeon">
          <div class="text_btn"> <p class="titulo-acordeon">AREPA DE HUEVO MINI 240 G-CJ12</p>   <button class="btn_desplegar" (click)="desplegar('4')">+</button></div>
        </div>
        <div id="Contenido_Acordeón4"class="id-product"> 
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
        
        </div>
      

        <div class="el_acordeon">
          <div class="text_btn"> <p class="titulo-acordeon">AREPA DE HUEVO MINI 240 G-CJ12</p>   <button class="btn_desplegar" (click)="desplegar('5')">+</button></div>

        </div>
        <div id="Contenido_Acordeón5"class="id-product"> 
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
        
        </div>
      
        <div class="el_acordeon">
          <div class="text_btn"> <p class="titulo-acordeon">AREPA DE HUEVO MINI 240 G-CJ12</p>   <button class="btn_desplegar" (click)="desplegar('6')">+</button></div>
        </div>

        <div id="Contenido_Acordeón6"class="id-product"> 
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
          <p class="contenido_p">contenido</p>
        
        </div>
      </div>
  </div>
</div>
    
    
    
    