


    <!-- <div class="circle" data-percent="75%">
        <div class="overlay"></div>
        <div class="percentage-text">75%</div>
    </div> -->






    <div class="all">

        <div id="contenedor">

            <div class="container2">
        
                <div class="card variable">
                    <h1 class="info_txt">Info</h1>
                    <div class="percent">
                        <svg>
                            <circle cx="25" cy="25" r="25" />
                            <circle cx="25" cy="25" r="25" />
                        </svg>
                     
                  <div class="number">
                    <h2>75<span>%</span></h2>
                  </div>
                </div>
              </div>
              
              </div>
    
<div class="contenedor_h">
            <img class="imagen" src="../assets/imagen_JM/Rectangle 6701.jpg" alt="">
            
            <p class="oliva_t">ACEITE DE OLIVA AGUACAT VIR EXTRA 250 ML</p>
        
          
            <P class="info"> <strong> Fecha de creación: </strong>2/12/22</P> 
    
            <P class="info"><strong> SKU:</strong>  1234567 </P>
         
           <P class="info"> <strong>Estado:</strong> Activo </P>
         
           <P class="info"><strong>Portafolio</strong> Nacional</P>
         
           <P class="info"><strong>Procedencia:</strong></P>
         
           <P class="info"><strong>Marca:</strong>La</P>
         
           <P class="info"><strong>Categoria: </strong> de Mar</P>
         
           <P class="info"><strong>Subcategoria:</strong> Enlatado y Envasado</P>
         
           <P class="info"><strong>Vida Util: </strong> Util: 1152</P>
         
          <P class="info"><strong>Presentacion:</strong> 250 ML</P>
         
          <P class="info"><strong>Codigo de Barras:</strong> 4132456789-4  </P>   
         <P class="info"><strong>Unidad de Embalaje:</strong> </P>
    
         <div class="contenedor_T">
            <P class="Total"><strong >Total Información:</strong> 75% completado</P>
            
         </div>
         <div class="separado"></div>
         
         
          
         
        </div>
        </div>
    
    
    </div>