
<div class="principal">
    <div class="Invent-container">   
  
      
      <div class="columna-Inventarios"> <p class="titulo" >Total Inventarios</p><br> <strong class="numeros">1010</strong> <img class="imagen" src="../assets/imagen_JM/check2.png" alt=""> </div>
      <div class="columna-Inventarios"><p  class="titulo" > Inventarios Programados</p> <br> <strong class="numeros">1010</strong><img class="imagen" src="../assets/imagen_JM/calendar.png" alt=""> </div> 
      <div class="columna-Inventarios"><p  class="titulo" >Inventarios Pendientes </p><br> <strong class="numeros">18</strong>  <img class="imagen" src="../assets/imagen_JM/exc.png" alt="">  </div>
      <div class="columna-Inventarios"><p  class="titulo" >Total Tienda Agendadas </p> <br> <strong class="numeros">18</strong>  <img class="imagen" src="../assets/imagen_JM/exc.png" alt=""> </div>
      <div class="columna-Inventarios"> <p class="titulo" >Inventarios Realizados</p> <br> <strong class="numeros">18</strong> <img class="imagen" src="../assets/imagen_JM/calendar.png" alt=""> </div>
      <div class="columna-Inventarios"> <p class="titulo" >Inventarios Realizados </p><br> <strong class="numeros">18</strong>  <img class="imagen" src="../assets/imagen_JM/calendar.png" alt="">  </div>
    </div>
  </div>