<nav>
    <ul>
        <li>
            <a href="/">principal</a>
        </li>
        <li>
            <a href="/estados">estado de inventario</a>
        </li>
        <li>
            <a href="/historicos">historicos de inventario</a>
        </li>
        <li>
            <a href="/ejecutados">inventario ejecutados</a>
        </li>
        <li>
            <a href="/pruebas">pruebas</a>
        </li>
        <li>
            <a href="/nomenclaturas">nomenclaturas</a>
        </li>
        <li>
            <a href="/cards">cartas</a>
        </li>
        <li>
            <a href="/fichaT">ficha tecnica de productos</a>
        </li>
    </ul>
</nav>
