<nav>
  <ul>

    <li>
      <a href="/">Principal</a>
    </li>

    <li>
      <a href="/producto">Producto</a>
    </li>

    <li>
      <a href="/estados">Estados</a>
    </li>

    <li>
      <a href="/nomenclatura">Nomenclatura</a>
    </li>

    <li>
      <a href="/historico">Historico</a>
    </li>

    <li>
      <a href="prueba-nomenclatura/">Prueba</a>
    </li>

  </ul>
</nav>

<!--para diagrama de barra... opcional - estar pendiente, lo puedo quitar y no pasa nada revisar con calma mañana y terminar el componente-->
<!--solo es el div opcional, debo dejar el router porque o si no no compila el codigo-->
<!--<div class="container">
  <h1>Historico de Inventarios <small>Angular</small></h1>
  <hr>
  <app-historico></app-historico>
</div>-->

<router-outlet></router-outlet>

