<!-- 
     
  <div class="centrado" >

  <div class="principal1"></div>

      
  <div class="barra_invent">
    <strong class="registro_historicos">Historicos de Inventario</strong>
    <br>
    <span class="meses_x_item">item de los mes</span>
</div>

<div class="mostrar">

  <div class="barras" >
    <div id="barra1"  class="Numero progreso"> <p class="parrafo_integ">Regional Caribe</p></div>
  </div>

  <div class="barras">
    <div id="barra2"  class="Numero progreso"><p class="parrafo_integ">Regional sur</p></div>
  </div>

  <div class="barras">
    <div id="barra3"  class="Numero progreso"><p class="parrafo_integ">Regional  Insular</p></div>
  </div>

  <div class="barras">
    <div id="barra4"  class="Numero progreso" ><p class="parrafo_integ">Regional Pacífica</p></div>
  </div>

  <div class="barras">
    <div id="barra5"  class="Numero progreso" ><p class="parrafo_integ">Regional Andina</p></div>
  </div>

  <div class="barras">
    <div id="barra6"  class="Numero progreso"><p class="parrafo_integ">Regional Amazonia</p></div>
  </div>              
</div>


<div>
  <button  id="boton_izquierda" class="boton_izquierda" (click)="scrollleft()"><img class="img" src="assets/img/btnl.png" alt="bi"></button>
  <button   id="boton_derecha" class="boton_derecha" (click)="scrollrigth()"><img class="img" src="asse" alt="bd_imagen"></button>
</div>







<!- <div class="barra_invent">
    <div class="progreso" style="width: 20%;"></div>
    <div class="progreso" style="width: 90%;"></div>
    <div class="progreso" style="width: 40%;"></div>
    <div class="progreso" style="width: 20%;"></div>
    <div class="progreso" style="width: 50%;"></div>
    <div class="progreso" style="width: 30%;"></div>

    <div class="meses">
        <span class="uno1">Enero</span>
        <span>Febrero</span>
        <span>Marzo</span>
        <span>Abril</span>
        <span>Mayo</span>
        <span>Junio</span>
        <span>Julio</span>
        <span>Septiembre</span>
        <span>Octubre</span>
        <span>Noviembre</span>
        <span>Diciembre</span>
    </div>
</div>
 --> 
