<div class="all">

    <div class="card">
      <img src="assets/prod.png" class="card-img-top" alt="Imagen de la tarjeta">

     
      <div class="card-body">
        <p class="card-title">ACEITE DE OLIVA AGUACAT VIR EXTRA 250 ML</p>
        <p class="texto-contenido"><b>Fecha de creación:</b> 2/12/22</p>
        <p class="texto-contenido"><b>SKU:</b> 1234567</p> 
        <p class="texto-contenido"><b>Estado:</b> Activo</p>
        <p class="texto-contenido"><b>Portafolio:</b> Nacional</p>
        <p class="texto-contenido"><b>Procedencia:</b> </p>
        <p class="texto-contenido"><b>Marca:</b> La Coruña</p>
        <p class="texto-contenido"><b>Categoria:</b> Productos de Mar</p>
        <p class="texto-contenido"><b>Subcategoria:</b> Enlatado y envasado</p>
        <p class="texto-contenido"><b>Vida Util:</b> 1152</p>
        <p class="texto-contenido"><b>Presentación:</b> 250 ML</p>
        <p class="texto-contenido"><b>Código de Barras:</b> 4132456789-43</p>
        <p class="texto-contenido"><b>Unidad de embalaje:</b></p>
      
        
      <div>
        <hr>
        <p class="Total"><b>Total Información:</b> 75% completado</p>
      </div>
    
      <div class="text-container-above">
        <p><b>Info</b></p>
      </div>

    <div class="circle-progress-container">
      <svg width="100" height="100">
        <circle
          cx="50"
          cy="50"
          r="27"
          stroke="#712CEE"  
          stroke-width="6"
          fill="none"
        />
        <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#3498db">
          {{number}}%
        </text>
      </svg>
    </div>
    

 
  

      </div>
    </div>
    </div>
    
    
    
