<nav>
    <ul>

        <li>
            <a href="/"> principal</a>
        </li>

        <li>
            <a href="/producto"> producto</a>
        </li>
        <li>
            <a href="/circulo">circulo</a>
        </li>

        <li>
            <a href="/nomenclatura"> nomenclatura </a>
        </li>

        <li>
            <a href="/pruebas"> pruebas</a>
        </li>

        <li>
            <a href="/historicos-de-inventario">  historicos-de-inventario</a>
        </li>

        <li>
            <a href="/inventarios-Ejecutados">  Inventarios Ejecutados</a>
        </li>

        <li>
            <a href="/estados-de-inventario">  Estados-de-inventario</a>
        </li>

        
        <li>
            <a href="/cards">  Componente "card"</a>
        </li>


      

        
        
    </ul>
</nav>
<router-outlet></router-outlet>