
    <div class="principal_circular">
        
        <div class="container2">
        
            <div class="card variable">
                <div class="percent">
                    <div class="informacion_txt">
                        <h3>info</h3>
                    </div>
                    
                    <svg>
                        <circle cx="70" cy="70" r="70" />
                        <circle cx="70" cy="70" r="70" />
                    </svg>
              <div class="number">
                <h2>90<span>%</span></h2>
              </div>
            </div>
        </div>
  
    </div>
      
 